# List Python

## Tipe Data Python
- float - bilangan real
- int - bilangan bulat
- str - string, text
- bool - true, false

In [2]:
tinggi = 1.73
apakah_tinggi = True # Hanya menyimpan satu nilai dalam variable

## Permasalahan
- Data science: banyak Data
- Misalkan ada beberapa data tinggi

In [3]:
tinggi_1 = 1.34
tinggi_2 = 1.69
tinggi_3 = 1.82
tinggi_4 = 1.99

Sangat tidak efisien

## List Python a, b, c

In [4]:
[1.73, 1.68, 1.71, 1.89]

[1.73, 1.68, 1.71, 1.89]

In [5]:
keluarga = [1.73, 1.68, 1.71, 1.89]
keluarga

[1.73, 1.68, 1.71, 1.89]

- Menyimpan koleksi dari sebuah nilai
- Menyimpan segala jenis tipe data
- Menyimpan tipe data yang berbeda dalam satu list

In [7]:
keluarga = ['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

keluarga

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [21]:
keluarga_2 = [['kakak', 1.73], ['adik', 1.68], ['ibu', 1.71], ['ayah', 1.89]]

keluarga_2

[['kakak', 1.73], ['adik', 1.68], ['ibu', 1.71], ['ayah', 1.89]]

In [9]:
type(keluarga)

list

In [22]:
type(keluarga_2)

list

## Subsetting List

In [12]:
keluarga = ['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

- Ingat index pada list berbasis 0
- Sehingga 'kakak' memiliki index 0, '1.73' memiliki index 1 dan seterusnya

In [13]:
keluarga[2]

'adik'

In [14]:
keluarga[5]

1.71

In [15]:
keluarga[-1]

1.89

In [16]:
keluarga[-4]

'ibu'

In [23]:
keluarga_2[0][0]

'kakak'

In [24]:
keluarga_2[0][1]

1.73

## Slicing List

In [25]:
keluarga

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [26]:
keluarga[3:5]

[1.68, 'ibu']

- start : end
- start = inklusif
- end = eksklusif

In [28]:
keluarga[1:4]

[1.73, 'adik', 1.68]

In [29]:
keluarga[:4]

['kakak', 1.73, 'adik', 1.68]

In [30]:
keluarga[5:]

[1.71, 'ayah', 1.89]

In [31]:
keluarga_2[0:2]

[['kakak', 1.73], ['adik', 1.68]]

## Memanipulasi List

In [33]:
keluarga

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [36]:
keluarga[7] = 1.77

In [37]:
keluarga

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.77]

In [38]:
keluarga[0:2] = ['saya', 1.74]

In [39]:
keluarga

['saya', 1.74, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.77]

## Menambah dan Menghapus Elemen

In [40]:
keluarga = ['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [41]:
keluarga

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [42]:
keluarga + ['saya', 1.74]

['kakak', 1.73, 'adik', 1.68, 'ibu', 1.71, 'ayah', 1.89, 'saya', 1.74]

In [43]:
keluarga_tambahan = keluarga +['saya', 1.74]

In [44]:
del(keluarga[2])

In [45]:
keluarga

['kakak', 1.73, 1.68, 'ibu', 1.71, 'ayah', 1.89]

In [46]:
del(keluarga[2])

In [47]:
keluarga

['kakak', 1.73, 'ibu', 1.71, 'ayah', 1.89]

## Tambahan

In [51]:
x = ['a', 'b', 'c']
y = x

['a', 'b', 'c']

In [52]:
x

['a', 'b', 'c']

In [53]:
y

['a', 'b', 'c']

In [54]:
y[1] = 'z'

In [55]:
x

['a', 'z', 'c']

In [56]:
y

['a', 'z', 'c']

## Agar tidak sharing value

In [57]:
x = ['a', 'b', 'c']
y = list(x)
z = x[:]

In [59]:
x[1] = 'haha'

In [60]:
x

['a', 'haha', 'c']

In [61]:
y

['a', 'b', 'c']

In [62]:
z

['a', 'b', 'c']